h1 {color: navy;
    font-size: 40px;
    text-align: center;
    font-family: 'Comic Sans MS';
}


h2 {color: navy;
    font-size: 20px;
    text-align: center;
    font-family: 'Comic Sans MS';
}

h3 {font-size:20px;
    text-align: center;
    color: #D02424;}

h4 {font-size:30px;
    text-align: left;
    font-family: 'Comic Sans MS';
    color:white;
}

a.one:link {color:royalblue;}
a.one:visited {color:blue;}
a.one:hover {color:purple;font-weight:bold;}
a.one:active { text-decoration: none;}

a.two:link {color:royalblue;}
a.two:visited {color:blue;}
a.two:hover {color:purple;font-weight:bold;}
a.two:active { text-decoration: none;}

a.three:link {color:royalblue;}
a.three:visited {color:blue;}
a.three:hover {color:purple;font-weight:bold;}
a.three:active { text-decoration: none;}

hr {border: 1px solid navy;
    width: 100%;
    }

footer {position: absolute; 
        left: 0px; 
        top: 800px; 
        width:100%;
        text-align:center;
        line-height: 100%;}